In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [22, 25, 30],
    "Score": [85, 90, 88]
})
df

      Name  Age  Score
0    Alice   22     85
1      Bob   25     90
2  Charlie   30     88